@import "../../variables";

.buttonup-wrap {
    padding: 10px 20px;
    border: 0;
    display: none;
    background-color: rgba(235, 231, 231, 0.9);
    position: fixed;
    bottom: 0;
    right: 16px;
    cursor: pointer;
    img {
        width: 30px;
    }
}
.buttonup-show {
    display: flex;
}

@media (min-width: $lg) {
    .buttonup-wrap {
        padding: 10px 30px;
        img {
            width: 50px;
        }
    }    
}
