@import "./../../variables";

.lesson-wrap {
    font-size: 18px;
}
.lesson-line {
    width: 100%;
    height: 2px;
    background-color: $red-dark;
}
.lesson-button {
    font-size: 18px;
    background-color: $grey-light;
    color: $red-dark;
    padding: 10px;
    border: 1px solid $red-dark;
    border-radius: 30px;
    cursor: pointer;
}
.lesson-button:active {    
    color: black;
    border-color: black;
}

@media (min-width: $sm) {
    .lesson-wrap {
        font-size: 22px;
    }
    .lesson-button {
        font-size: 22px;
        border-radius: 40px;
    }
}
