@import "./../../../variables";

.lesson-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 36px;
    h1 {
        font-family: "Marck Script";
        font-size: 26px;
        margin: 0;
    }
    img {
        display: none;
    }
}

@media (min-width: $sm) {
    .lesson-title {
        height: 100px;
        justify-content: start;
        h1{
            font-size: 38px;
        }
        img {
            display: block;
            height: 100px;
            margin-right: 30px;
        }
    }
}
