//size
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$max-width: 1440px;

//colors
$grey-dark: #a4a4a4;
$grey-light: #D8D9D4;
$red-dark: #690202;

//fonts
@font-face {
    font-family: "Marck Script";
    src: url("./fonts/MarckScript-Regular.ttf");
}
