@import "./variables";

* {
    box-sizing: border-box;
}
.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
.app-container {    
    overflow: hidden;
}
.app-main {
    position: relative;
    max-width: $lg;
    margin: 0 16px 20px;
    flex-grow: 1;    
}
